extends ../shared/template
block content
  h1 Welcome to Travel Tiger!
  h2 looking for a tour? Find out more information about a country and a city arond the world.  You come to the right place.

  img(src='http://www.seatmaestro.com/wp-content/uploads/2015/07/International-Travel.jpg')
